<!DOCTYPE html>

<html lang="en">
  <%- include ../partials/head %>
  <body ng-app="myapp" ng-cloak>
      <%- include ../partials/navbar %>
      <main role="main" class="container">
          <%- body %>
      </main>    
      <%- include ../partials/foot %>
  </body>
</html>